<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109758843095-b4t4drjsaimjblop660i7d3vfrrl6u7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109758843095-b4t4drjsaimjblop660i7d3vfrrl6u7l</string>
	<key>API_KEY</key>
	<string>AIzaSyD5O_C0FiAUrP3fsxEMsxOXq6SgRxZbN1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>109758843095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>burkaysendogdu.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-940af</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-940af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109758843095:ios:ec673193a57a6bf65d8892</string>
</dict>
</plist>